@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
* {
	box-sizing: border-box;
	font-family: roboto;
	font-family: Acme;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.game {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #eee;
	padding: 16px 60px;
	border-radius: 40px;
}
.game h1 {
	padding: 16px;
	font-weight: bold;
	font-size: 60px;
}

.game ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	gap: 20px;
	padding: 0;
}

.game ul li {
	flex: 1;
}

.score {
	display: flex;
	justify-content: space-between;
	width: 568px;
}

button {
	font-size: 80px;
	margin: 40px;
	border: none;
}

button:hover {
	transform: scale(1.2);
}
.computer > span, .player > span  {
	font-size: 80px;
}
p {
	font-size: 20px;
}
#rest {
	font-size: 30px;
	padding: 8px 16px;
	background-color: #eee;
	background-color: red;
	border-radius: 15px;
}

